ion-grid {
  margin-top: 100px;
}
ion-grid ion-icon {
  height: 55px;
  width: 40px;
  margin: 0;
}
.title-state {
  margin-top: 0;
}
.no-tournee {
  align-items: center;
  margin: auto;
  margin-top: 50px;
}
.clients-tour tbody .active-tr {
  background-color: greenyellow;
}
.clients-tour .button-map .button-native {
  padding: 0;
}
